import numpy as np
import xarray as xr
import sys

init="2019100912"
nmem = 26
mem = np.arange(nmem)
nlon, nlat, nlev, nt = 720, 361, 8, 2
#nlon, nlat, nlev = 720, 361, 3
nlonv, nlatv = 11, 7
lon0, lon1 = 137, 142
lat0, lat1 =  36,  33
ivalid = 1
nmode = 10
lmoist = True
indir = "pert/" + init
svdir = "sv/" + init
modedir = "mode/" + init
surffname = "ps"
if lmoist:
    plevfname = "uvTq"
    names = {"u":"u", "v":"v", "T":"t", "q":"q", "ps":"sp"}
else:
    plevfname = "uvT"
    names = {"u":"u", "v":"v", "T":"t", "ps":"sp"}
nvar3d = len(names) - 1
nstate = nlonv * nlatv * (nlev * nvar3d + 1)

Rd = 287.04
cp = 1005.0
Tr =  270.0
pr = 1000.0e2
L  = 2.5104e6
ep = 1.0

tfact = np.sqrt(cp / Tr)
pfact = np.sqrt(Rd * Tr) / pr
qfact = L * np.sqrt(ep / (cp * Tr))

with xr.open_dataset(f"{indir}/{plevfname}01.nc") as ds:
    lon = ds["lon"]
    lat = ds["lat"]
    plev = ds["plev"]
    time = ds["time"]
    wlat = np.sqrt(np.cos(np.deg2rad(lat.loc[lat0:lat1])))
    data = np.zeros_like(plev)
    data[0] = np.abs(plev.data[1] - plev.data[0])
    data[1:-1] = np.abs(plev.data[2:] - plev.data[0:-2])
    data[-1] = np.abs(plev.data[-1] - plev.data[-2])
    data *= 0.5 / np.abs(plev.data[-1] - plev.data[0])
    wlev = xr.DataArray(np.sqrt(data), dims=["plev"], coords={"plev":ds["plev"]})
    ti = ds["time"][0]
    tv = ds["time"][ivalid]
